@model Tuple<IEnumerable<TestExcel.Models.Building_Classroom>, IEnumerable<TestExcel.Data.BUILDING>>
@{
    ViewBag.Title = "ClSchedule";
    string color;
    string passName = ViewBag.PassName;
    string[] date = { "M", "T", "W", "H", "F", "S" };
    Layout = "~/Views/Shared/_TimeScheduleLayout.cshtml";
}
<script>
        $(document).ready(function () {
            $("#DDL_BUILDING").val(@ViewBag.BDDLSelected);
            $("#DDL_DATE").val(@ViewBag.DATE);
            $("#ddl_Year").val(@ViewBag.year);
            $("#ddl_Semester").val(@ViewBag.Semester);
            $("#DDL_BUILDING").change(function () {
                $("#BUILDING_FORM").submit();
            });
            $("#DDL_DATE").change(function () {
                $("#BUILDING_FORM").submit();
            });
            $("#ddl_Semester").change(function () {
                $("#BUILDING_FORM").submit();
            });
            $("#ddl_Year").change(function () {
                $("#BUILDING_FORM").submit();
            });
            });
</script>
<div class="w3-row w3-center fontup">
    @Html.ActionLink("ภาควิชา", "DSchedule", "TimeSchedule", new { style = "color:blue;font-size:20px" })  |
    @Html.ActionLink("อาคาร/ห้องเรียน", "ClSchedule", "TimeSchedule", new { style = "color:blue;font-size:20px" })  |
    @Html.ActionLink("วิชาเรียน", "TeSchedule", "TimeSchedule", new { style = "color:blue;font-size:20px" })
</div>
@if ((string)ViewBag.BUILDING_NAME == "632")
{
    <h2>ห้องเรียนอาคาร 63 (อาคารสีเทา ตึกใหม่)</h2>
}
else
{
    <h2>ห้องเรียนอาคาร @ViewBag.BUILDING_NAME</h2>
}
@using (Html.BeginForm("ClSchedule", "TimeSchedule", FormMethod.Post, new { id = "BUILDING_FORM", name = "BUILDING_FORM" }))
{
    @Html.Hidden("building_name", passName)
    <div style="overflow-x:auto">
        <table border="0" align="left">
            <tbody>
                <tr>
                    <td align="right"><b>ปีการศึกษา&nbsp;</b></td>
                    <td colspan="5" style="padding-right:1em">@Html.DropDownList("ddl_Year", (SelectList)ViewBag.ddl_Year, new { @class = "form-control", style = "width:80px" })</td>
                    <td align="right"><b>ภาคการศึกษา&nbsp;</b></td>
                    <td colspan="5" style="padding-right:1em">
                        <select class="form-control" id="ddl_Semester" name="ddl_Semester"style="width:70px">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </td>
                    <td align="right"><b>อาคารเรียน&nbsp;</b></td>
                    <td colspan="5" style="padding-right:1em">
                        <select class="form-control" id="DDL_BUILDING" name="DDL_BUILDING" style="">
                            <option value="63">อาคารเรียน 63</option>
                            <option value="632">อาคารเรียน 63 (อาคารสีเทา ตึกใหม่)</option>
                            <option value="62">อาคารเรียน 62</option>
                            <option value="65">อาคารเรียน 65</option>
                            <option value="42">อาคารเรียน 42</option>
                            <option value="69">อาคารเรียน 69</option>
                            <option value="64">อาคารเรียน 64</option>
                        </select>
                    </td>
                    <td colspan="5">
                        <select class="form-control" id="DDL_DATE" name="DDL_DATE" style="width:120px">
                            <option value="0">วันจันทร์</option>
                            <option value="1">วันอังคาร</option>
                            <option value="2">วันพุธ</option>
                            <option value="3">วันพฤหัสบดี</option>
                            <option value="4">วันศุกร์</option>
                            <option value="5">วันเสาร์</option>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>
}
<table class="table table-responsive" id="TableLocation2" style="font-size:12px" align=center border=1 cellspacing=0 cellpadding=3 bgcolor=#F1F1FD>
    <thead>
        <tr bgcolor="#D3D3D3">
            <td width="80px"><b>Day</b></td>
            <td colspan="4" width="60px"><b>8:00</b></td>
            <td colspan="4" width="60px"><b>9:00</b></td>
            <td colspan="4" width="60px"><b>10:00</b></td>
            <td colspan="4" width="60px"><b>11:00</b></td>
            <td colspan="4" width="60px"><b>12:00</b></td>
            <td colspan="4" width="60px"><b>13:00</b></td>
            <td colspan="4" width="60px"><b>14:00</b></td>
            <td colspan="4" width="60px"><b>15:00</b></td>
            <td colspan="4" width="60px"><b>16:00</b></td>
            <td colspan="4" width="60px"><b>17:00</b></td>
            <td colspan="4" width="60px"><b>18:00</b></td>
            <td colspan="4" width="60px"><b>19:00</b></td>
            <td colspan="4" width="60px"><b>20:00</b></td>
            <td colspan="4" width="60px"><b>21:00</b></td>
        </tr>
    </thead>
    <tbody>
        @{
            var temp = Model.Item2;
            var temp1 = Model.Item2.Select(x => x.BUILDING_ID);
            for (int a = temp1.First(); a <= temp1.Last(); a++)
            {
                var classroom = @Model.Item2.Where(x => x.BUILDING_ID == a).OrderBy(x => x.CLASSROOM_NAME).FirstOrDefault().CLASSROOM_NAME;
                <tr width="60px">
                    <td width="60px">@classroom</td>
                    @for (int b = 8; b <= 21; b++)
                    {
                        var tid = classroom + "id_" + b;
                        var tname = classroom + "name" + b;
                        var WhereTimeDate = Model.Item1.Where(x => x.SECTION_TIME_START == b && x.SECTION_DATE == date[ViewBag.DATE] && x.SECTION_CLASSROOM.Contains(classroom));
                        var check = WhereTimeDate.LastOrDefault();
                        var Bcolor = Model.Item1.Where(x => x.SUBJECT_CREDIT == "3(3-0-6)").Any();
                        if (check != null && check.SUBJECT_CREDIT == "3(3-0-6)")
                        {
                            color = "#25b0ee";
                        }
                        else
                        {
                            color = "#D3D3D3";
                        }
                        var check1 = Model.Item1.Where(x => x.SECTION_TIME_START <= b && x.SECTION_TIME_END > b && x.SECTION_DATE == date[ViewBag.DATE] && x.SECTION_CLASSROOM.Contains(classroom)).OrderBy(x => x.SECTION_TIME_START).LastOrDefault();
                        if (check != null)
                        {
                            var trigger = Model.Item1.Where(x => x.SUBJECT_ID == check.SUBJECT_ID && x.SECTION_BRANCH_NAME == check.SECTION_BRANCH_NAME && x.SECTION_DATE == date[ViewBag.DATE] && x.SECTION_CLASSROOM.Contains(classroom)).Count();
                            if (trigger == 1)
                            {
                                var tmp_TIME_START = check.SECTION_TIME_START;
                                var tmp_TIME_END = check.SECTION_TIME_END;
                                var TIME_START = int.Parse(tmp_TIME_START.ToString());
                                var TIME_END = int.Parse(tmp_TIME_END.ToString());
                                var TIME = (TIME_END - TIME_START) * 4;
                                <td id="@tid" colspan="@TIME" width="60px">
                                    <div class="" style="background-color:@color;width:100%;height:50px">
                                        <p>
                                            @WhereTimeDate.First().SUBJECT_ID @WhereTimeDate.First().SUBJECT_NAME ตอนเรียน @WhereTimeDate.First().SECTION_NUMBER
                                        </p>
                                    </div>
                                </td>
                            }
                            else if (trigger == 2)
                            {
                                var first = Model.Item1.Where(x => x.SUBJECT_ID == check.SUBJECT_ID && x.SECTION_BRANCH_NAME == check.SECTION_BRANCH_NAME && x.SECTION_DATE == date[ViewBag.DATE] && x.SECTION_CLASSROOM.Contains(classroom)).First();
                                var second = Model.Item1.Where(x => x.SUBJECT_ID == check.SUBJECT_ID && x.SECTION_BRANCH_NAME == check.SECTION_BRANCH_NAME && x.SECTION_DATE == date[ViewBag.DATE] && x.SECTION_CLASSROOM.Contains(classroom)).Last();
                                int tmp_first = int.Parse(first.SECTION_TIME_START.ToString());
                                int tmp_last = int.Parse(second.SECTION_TIME_END.ToString());

                                int tmpl_first = int.Parse(first.SECTION_TIME_END.ToString());
                                int tmpl_last = int.Parse(second.SECTION_TIME_START.ToString());
                                if (tmpl_first == tmpl_last && check.SECTION_NUMBER == "")
                                {
                                    <td id="@tid" width="60px" height="50px" colspan="4" style="display:none"></td>
                                }
                                else if (tmpl_first == tmpl_last)
                                {
                                    var TIME = (tmp_last - tmp_first) * 4;
                                    <td id="@tid" colspan="@TIME" width="60px">
                                        <div style="background-color:@color;height:50px">
                                            <p>
                                                @first.SUBJECT_ID @first.SUBJECT_NAME ตอนเรียน @first.SECTION_NUMBER
                                            </p>
                                        </div>
                                    </td>
                                }
                                else if (tmpl_first != tmpl_last)
                                {
                                    var tmp_TIME_START = WhereTimeDate.Last().SECTION_TIME_START;
                                    var tmp_TIME_END = WhereTimeDate.Last().SECTION_TIME_END;
                                    var TIME_START = int.Parse(tmp_TIME_START.ToString());
                                    var TIME_END = int.Parse(tmp_TIME_END.ToString());
                                    var TIME = (TIME_END - TIME_START) * 4;

                                    <td id="@tid" colspan="@TIME" width="60px">
                                        <div style="background-color:@color;width:100%;height:50px">
                                            <p>
                                                @WhereTimeDate.First().SUBJECT_ID @WhereTimeDate.First().SUBJECT_NAME ตอนเรียน @WhereTimeDate.First().SECTION_NUMBER
                                            </p>
                                        </div>
                                    </td>
                                }
                            }
                        }
                        else
                        {
                            if (check1 == null)
                            {
                                <td id="@tid" height="50px" width="60px" colspan="4"></td>
                            }
                            else
                            {
                                <td id="@tid" height="50px" width="60px" colspan="4" style="display:none"></td>
                            }
                        }
                    }
                </tr>
            }
        }
    </tbody>
</table>
