@model IEnumerable<TestExcel.Models.Section_Subject>
@{
    ViewBag.Title = "TeSchedule";
    string color;
    string number = ViewBag.Number;
    string[] date = { "M", "T", "W", "H", "F", "S" };
    Layout = "~/Views/Shared/_TimeScheduleLayout.cshtml";
    string Subject_id = ViewBag.SUBJECT;
    string SEMESTER = ViewBag.Semester;
    string YEAR = ViewBag.Year;
    string Message = ViewBag.Message;
    string ErrorMessage = ViewBag.ErrorMessage;
}
<script>
        $(document).ready(function () {
            $("#ddl_Semester").val(@SEMESTER);
            $("#ddl_Year").val(@YEAR);
            $("#SUBJECT_NAME").val($("#SUBJECT").val());
            $("#ddl_Semester").change(function () {
                $("#SUBJECT_FORM").submit();
            });
            $("#SUBJECT").change(function () {
                $("#SUBJECT_FORM").submit();
            });
            $("#ddl_Year").change(function () {
                $("#SUBJECT_FORM").submit();
            });
            var Message = $("#Alert p").html();
            var ErrorMessage = $("#ErrorAlert p").html();
            if (Message != "") {
                $("#Alert").show("fade");
                setTimeout(function () {
                    $("#Alert").hide("fade");
                }, 3000);
            }
            if (ErrorMessage != "") {
                $("#ErrorAlert").show("fade");
                setTimeout(function () {
                    $("#ErrorAlert").hide("fade");
                }, 3000);
            }
            var num = @number;
            if (num != "") {
                $("#TableLocation2 tr td div input[value='" + num + "']").parent().css('background-color', '#ff0000');
                $("#TableLocation2 tr td div input[value='" + num + "']").parent().css('color', 'white');
            }
            });

</script>
<div class="w3-row w3-center fontup">
    @Html.ActionLink("ภาควิชา", "DSchedule", "TimeSchedule", new { style = "color:blue;font-size:20px" })  |
    @Html.ActionLink("อาคาร/ห้องเรียน", "ClSchedule", "TimeSchedule", new { style = "color:blue;font-size:20px" })  |
    @Html.ActionLink("วิชาเรียน", "TeSchedule", "TimeSchedule", new { style = "color:blue;font-size:20px" })
</div>
@number
<h3>@ViewBag.SUBJECT @ViewBag.SUBJECT_NAME</h3>
<div id="Alert" class="alert alert-success collapse">
    <p>@Message</p>
</div>
<div id="ErrorAlert" class="alert alert-danger collapse">
    <p>@ErrorMessage</p>
</div>
@using (Html.BeginForm("TeSchedule", "TimeSchedule", FormMethod.Post, new { id = "SUBJECT_FORM", name = "SUBJECT_FORM" }))
{
    <table border="0" align="left">
        <tbody>
            <tr>
                <td align="right"><b>ปีการศึกษา&nbsp;</b></td>
                <td colspan="5" style="padding-right:1em">@Html.DropDownList("ddl_Year", (SelectList)ViewBag.ddl_Year, new { @class = "form-control", style = "" })</td>
                <td align="right"><b>ภาคการศึกษา&nbsp;</b></td>
                <td colspan="5" style="padding-right:1em">
                    <select class="form-control" id="ddl_Semester" name="ddl_Semester">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </td>
                <td align="right"><b>รหัสวิชา&nbsp;</b></td>
                <td colspan="5" style="padding-right:1em">
                    @Html.DropDownList("SUBJECT", (SelectList)ViewBag.ddl_Subject, new { @class = "form-control", style = "" })
                </td>
                <td align="right"><b>วิชา&nbsp;</b></td>
                <td colspan="5" style="padding-right:1em">
                    @Html.DropDownList("SUBJECT_NAME", (SelectList)ViewBag.ddl_Subject_Name, new { @class = "form-control", style = "", disabled = "disabled" })
                </td>
            </tr>
        </tbody>
    </table>
    <br>
}
<br>
@using (Html.BeginForm("singleupdatedata", "TimeSchedule", FormMethod.Post))
{
    @Html.Hidden("SUBJECTid", Subject_id);
    @Html.Hidden("Semester", SEMESTER)
    @Html.Hidden("Year", YEAR)
    <div class="w3-row">
        <div class="col-lg-6 w3-container w3-card space" style="background-color:#25b0ee">
            <table border="0" align="center" style="border-collapse:separate;border-spacing:5px">
                <thead>
                    <tr>
                        <td colspan="14" border="0" align="center">
                            <p id="First_Header">First</p>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td align="right"><b>ตอนเรียน&nbsp;</b></td>
                        <td width="10%">
                            @Html.Hidden("FIRST_SECTION_ID", "")
                            @Html.TextBox("FIRST_SAVE_NUMBER", "", new { @class = "form-control", @placeholder = "" })
                        </td>
                        <td align="right"><b>&nbsp;</b></td>
                        <td colspan="3" style="padding-right:2px">
                            <select class="form-control" id="FIRST_SAVE_DATE" name="FIRST_SAVE_DATE" style="">
                                <option value="M">วันจันทร์</option>
                                <option value="T">วันอังคาร</option>
                                <option value="W">วันพุธ</option>
                                <option value="H">วันพฤหัสบดี</option>
                                <option value="F">วันศุกร์</option>
                                <option value="S">วันเสาร์</option>
                            </select>
                        </td>
                        <td align="right"><b>เวลา&nbsp;</b></td>
                        <td colspan="3" style="padding-right:2px">
                            <select class="form-control" id="FIRST_SAVE_TIMESTART" name="FIRST_SAVE_TIMESTART" style="width:6em">
                                <option value="8">08:00</option>
                                <option value="9">09:00</option>
                                <option value="10">10:00</option>
                                <option value="11">11:00</option>
                                <option value="12">12:00</option>
                                <option value="13">13:00</option>
                                <option value="14">14:00</option>
                                <option value="15">15:00</option>
                                <option value="16">16:00</option>
                                <option value="17">17:00</option>
                                <option value="18">18:00</option>
                                <option value="19">19:00</option>
                                <option value="20">20:00</option>
                                <option value="21">21:00</option>
                            </select>
                        </td>
                        <td align="center"><b>-&nbsp;</b></td>
                        <td colspan="3" style="padding-right:1em">
                            <select class="form-control" id="FIRST_SAVE_TIMEEND" name="FIRST_SAVE_TIMEEND" style="width:6em">
                                <option value="9">09:00</option>
                                <option value="10">10:00</option>
                                <option value="11">11:00</option>
                                <option value="12">12:00</option>
                                <option value="13">13:00</option>
                                <option value="14">14:00</option>
                                <option value="15">15:00</option>
                                <option value="16">16:00</option>
                                <option value="17">17:00</option>
                                <option value="18">18:00</option>
                                <option value="19">19:00</option>
                                <option value="20">20:00</option>
                                <option value="21">21:00</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td align="right"><b>ห้องเรียน&nbsp;</b></td>
                        <td colspan="13">
                            @Html.TextBox("FIRST_SAVE_CLASSROOM", "", new { @class = "form-control", @placeholder = "" })
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-6 w3-container w3-card space2" style="background-color:#25b0ee">
            <table border="0" align="center" style="border-collapse:separate;border-spacing:5px">
                <thead>
                    <tr>
                        <td colspan="14" border="0" align="center">
                            <p id="Second_Header">Second</p>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td align="right"><b>ตอนเรียน&nbsp;</b></td>
                        <td width="10%">
                            @Html.Hidden("SECOND_SECTION_ID", "0")
                            @Html.TextBox("SECOND_SAVE_NUMBER", "", new { @class = "form-control", @placeholder = "" })
                        </td>
                        <td align="right"><b>&nbsp;</b></td>
                        <td colspan="5">
                            <select class="form-control" id="SECOND_SAVE_DATE" name="SECOND_SAVE_DATE">
                                <option value="M">วันจันทร์</option>
                                <option value="T">วันอังคาร</option>
                                <option value="W">วันพุธ</option>
                                <option value="H">วันพฤหัสบดี</option>
                                <option value="F">วันศุกร์</option>
                                <option value="S">วันเสาร์</option>
                            </select>
                        </td>
                        <td align="right"><b>เวลา&nbsp;</b></td>
                        <td colspan="2">
                            <select class="form-control" id="SECOND_SAVE_TIMESTART" name="SECOND_SAVE_TIMESTART" style="width:6em">
                                <option value="8">08:00</option>
                                <option value="9">09:00</option>
                                <option value="10">10:00</option>
                                <option value="11">11:00</option>
                                <option value="12">12:00</option>
                                <option value="13">13:00</option>
                                <option value="14">14:00</option>
                                <option value="15">15:00</option>
                                <option value="16">16:00</option>
                                <option value="17">17:00</option>
                                <option value="18">18:00</option>
                                <option value="19">19:00</option>
                                <option value="20">20:00</option>
                                <option value="21">21:00</option>
                            </select>
                        </td>
                        <td align="center"><b>-&nbsp;</b></td>
                        <td colspan="2">
                            <select class="form-control" id="SECOND_SAVE_TIMEEND" name="SECOND_SAVE_TIMEEND" style="width:6em">
                                <option value="9">09:00</option>
                                <option value="10">10:00</option>
                                <option value="11">11:00</option>
                                <option value="12">12:00</option>
                                <option value="13">13:00</option>
                                <option value="14">14:00</option>
                                <option value="15">15:00</option>
                                <option value="16">16:00</option>
                                <option value="17">17:00</option>
                                <option value="18">18:00</option>
                                <option value="19">19:00</option>
                                <option value="20">20:00</option>
                                <option value="21">21:00</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td align="right"><b>ห้องเรียน&nbsp;</b></td>
                        <td colspan="13">
                            @Html.TextBox("SECOND_SAVE_CLASSROOM", "", new { @class = "form-control", @placeholder = "" })
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br>
    <input type="submit" value="Save" class="w3-btn w3-green w3-center registerbtn pull-right" />
    <br>
}
<br>
@using (Html.BeginForm("updatedata", "TimeSchedule", FormMethod.Post))
{
    @Html.Hidden("SUBJECTid", Subject_id);
    @Html.Hidden("Semester", SEMESTER)
    @Html.Hidden("Year", YEAR)
    <table class="table table-responsive fix-font" id="TableLocation2" style="font-size:14px" align=center border=1 cellspacing=0 cellpadding=3 bgcolor=#F1F1FD>
        <thead>
            <tr bgcolor="#D3D3D3">
                <th><b>Day</b></th>
                <th colspan="4" width="60px"><b>8:00</b></th>
                <th colspan="4" width="60px"><b>9:00</b></th>
                <th colspan="4" width="60px"><b>10:00</b></th>
                <th colspan="4" width="60px"><b>11:00</b></th>
                <th colspan="4" width="60px"><b>12:00</b></th>
                <th colspan="4" width="60px"><b>13:00</b></th>
                <th colspan="4" width="60px"><b>14:00</b></th>
                <th colspan="4" width="60px"><b>15:00</b></th>
                <th colspan="4" width="60px"><b>16:00</b></th>
                <th colspan="4" width="60px"><b>17:00</b></th>
                <th colspan="4" width="60px"><b>18:00</b></th>
                <th colspan="4" width="60px"><b>19:00</b></th>
                <th colspan="4" width="60px"><b>20:00</b></th>
                <th colspan="4" width="60px"><b>21:00</b></th>
            </tr>
        </thead>
        <tbody>
            @for (int a = 0; a < 6; a++)
            {
                <tr id="@date[a]" name="@date[a]" class="@date[a]" width="60px">
                    <td bgcolor="#D3D3D3" width="60px">@date[a]</td>
                    @for (int b = 8; b <= 21; b++)
                    {
                        var tid = date[a] + "id_" + b;
                        var WhereTimeDate = Model.Where(x => x.SECTION_TIME_START == b && x.SECTION_DATE == date[a]);
                        var check = WhereTimeDate.LastOrDefault();
                        if (check != null && check.SUBJECT_CREDIT == "3(3-0-6)")
                        {
                            color = "#25b0ee";
                        }
                        else
                        {
                            color = "#D3D3D3";
                        }
                        var check1 = Model.Where(x => x.SECTION_TIME_START <= b && x.SECTION_TIME_END > b && x.SECTION_DATE == date[a]).OrderBy(x => x.SECTION_TIME_START).LastOrDefault();
                        if (check != null)
                        {
                            var search_id = WhereTimeDate.First().SECTION_ID;
                            var tsearchid = "id_" + search_id;
                            var tsubjectid = "subjectid_" + search_id;
                            var tname = "name_" + search_id;
                            var tnumber = "number_" + search_id;
                            var ttimestart = "timestart_" + search_id;
                            var ttimeend = "timeend_" + search_id;
                            var tdate = "date_" + search_id;
                            var tclassroom = "classroom_" + search_id;
                            var trigger = Model.Where(x => x.SUBJECT_ID == check.SUBJECT_ID && x.SECTION_BRANCH_NAME == check.SECTION_BRANCH_NAME && x.SECTION_DATE == date[a]).Count();
                            if (trigger == 1)
                            {
                                var tmp_TIME_START = check.SECTION_TIME_START;
                                var tmp_TIME_END = check.SECTION_TIME_END;
                                var TIME_START = int.Parse(tmp_TIME_START.ToString());
                                var TIME_END = int.Parse(tmp_TIME_END.ToString());
                                var TIME = (TIME_END - TIME_START) * 4;
                                <td id="@tid" colspan="@TIME" class="droppable revert" width="60px">
                                    <div class="draggable getdata" style="background-color:@color;width:100%;height:50px">
                                        <div id="x_button" class="btn btn-default pull-right x_button text-center">
                                            X
                                            @Html.Hidden("x_value", TIME + "_" + date[a])
                                        </div>
                                        <p>
                                            @WhereTimeDate.First().SUBJECT_ID @WhereTimeDate.First().SUBJECT_NAME ตอน @WhereTimeDate.First().SECTION_NUMBER
                                        </p>
                                        @Html.Hidden("searchId", WhereTimeDate.First().SECTION_ID)
                                        @Html.Hidden("First_" + tsearchid, WhereTimeDate.First().SECTION_ID)
                                        @Html.Hidden("First_" + tsubjectid, WhereTimeDate.First().SUBJECT_ID)
                                        @Html.Hidden("First_" + tname, WhereTimeDate.First().SUBJECT_NAME)
                                        @Html.Hidden("First_" + tnumber, WhereTimeDate.First().SECTION_NUMBER)
                                        @Html.Hidden("First_" + ttimestart, WhereTimeDate.First().SECTION_TIME_START)
                                        @Html.Hidden("First_" + ttimeend, WhereTimeDate.First().SECTION_TIME_END)
                                        @Html.Hidden("First_" + tdate, WhereTimeDate.First().SECTION_DATE)
                                        @Html.Hidden("First_" + tclassroom, WhereTimeDate.First().SECTION_CLASSROOM)
                                    </div>
                                </td>
                            }
                            else if (trigger == 2)
                            {
                                var first = Model.Where(x => x.SUBJECT_ID == check.SUBJECT_ID && x.SECTION_DATE == date[a] && x.SECTION_BRANCH_NAME == check.SECTION_BRANCH_NAME).First();
                                var second = Model.Where(x => x.SUBJECT_ID == check.SUBJECT_ID && x.SECTION_DATE == date[a] && x.SECTION_BRANCH_NAME == check.SECTION_BRANCH_NAME).Last();
                                int tmp_first = int.Parse(first.SECTION_TIME_START.ToString());
                                int tmp_last = int.Parse(second.SECTION_TIME_END.ToString());

                                int tmpl_first = int.Parse(first.SECTION_TIME_END.ToString());
                                int tmpl_last = int.Parse(second.SECTION_TIME_START.ToString());
                                if (tmpl_first == tmpl_last && check.SECTION_NUMBER == "")
                                {
                                    <td id="@tid" class="droppable" height="50px" width="60px" colspan="4" style="display:none"></td>
                                }
                                else if (tmpl_first == tmpl_last)
                                {
                                    var TIME = (tmp_last - tmp_first) * 4;
                                    <td id="@tid" colspan="@TIME" width="60px" class="droppable">
                                        <div class="draggable getdata" style="background-color:@color;height:50px">
                                            <div id="x_button" class="btn btn-default pull-right x_button text-center">
                                                X
                                                @Html.Hidden("x_value", TIME + "_" + date[a])
                                            </div>
                                            <p>
                                                @first.SUBJECT_ID @first.SUBJECT_NAME ตอน @first.SECTION_NUMBER
                                            </p>
                                            @Html.Hidden("searchId", first.SECTION_ID)
                                            @Html.Hidden("First_" + tsearchid, first.SECTION_ID)
                                            @Html.Hidden("First_" + tsubjectid, first.SUBJECT_ID)
                                            @Html.Hidden("First_" + tname, first.SUBJECT_NAME)
                                            @Html.Hidden("First_" + tnumber, first.SECTION_NUMBER)
                                            @Html.Hidden("First_" + ttimestart, first.SECTION_TIME_START)
                                            @Html.Hidden("First_" + ttimeend, first.SECTION_TIME_END)
                                            @Html.Hidden("First_" + tdate, first.SECTION_DATE)
                                            @Html.Hidden("First_" + tclassroom, first.SECTION_CLASSROOM)

                                            @Html.Hidden("Second_" + tsearchid, second.SECTION_ID)
                                            @Html.Hidden("Second_" + tsubjectid, second.SUBJECT_ID)
                                            @Html.Hidden("Second_" + tname, second.SUBJECT_NAME)
                                            @Html.Hidden("Second_" + tnumber, second.SECTION_NUMBER)
                                            @Html.Hidden("Second_" + ttimestart, second.SECTION_TIME_START)
                                            @Html.Hidden("Second_" + ttimeend, second.SECTION_TIME_END)
                                            @Html.Hidden("Second_" + tdate, second.SECTION_DATE)
                                            @Html.Hidden("Second_" + tclassroom, second.SECTION_CLASSROOM)
                                        </div>
                                    </td>
                                }
                                else if (tmpl_first != tmpl_last)
                                {
                                    var tmp_TIME_START = WhereTimeDate.Last().SECTION_TIME_START;
                                    var tmp_TIME_END = WhereTimeDate.Last().SECTION_TIME_END;
                                    var TIME_START = int.Parse(tmp_TIME_START.ToString());
                                    var TIME_END = int.Parse(tmp_TIME_END.ToString());
                                    var TIME = (TIME_END - TIME_START) * 4;
                                    <td id="@tid" colspan="@TIME" width="60px" class="droppable">
                                        <div class="draggable getdata" style="background-color:@color;width:100%;height:50px">
                                            <div id="x_button" class="btn btn-default pull-right x_button text-center">
                                                X
                                                @Html.Hidden("x_value", TIME + "_" + date[a])
                                            </div>
                                            <p>
                                                @WhereTimeDate.First().SUBJECT_ID @WhereTimeDate.First().SUBJECT_NAME ตอน @WhereTimeDate.First().SECTION_NUMBER
                                            </p>
                                            @Html.Hidden("searchId", WhereTimeDate.First().SECTION_ID)
                                            @Html.Hidden("First_" + tsearchid, WhereTimeDate.First().SECTION_ID)
                                            @Html.Hidden("First_" + tsubjectid, WhereTimeDate.First().SUBJECT_ID)
                                            @Html.Hidden("First_" + tname, WhereTimeDate.First().SUBJECT_NAME)
                                            @Html.Hidden("First_" + tnumber, WhereTimeDate.First().SECTION_NUMBER)
                                            @Html.Hidden("First_" + ttimestart, WhereTimeDate.First().SECTION_TIME_START)
                                            @Html.Hidden("First_" + ttimeend, WhereTimeDate.First().SECTION_TIME_END)
                                            @Html.Hidden("First_" + tdate, WhereTimeDate.First().SECTION_DATE)
                                            @Html.Hidden("First_" + tclassroom, WhereTimeDate.First().SECTION_CLASSROOM)
                                        </div>
                                    </td>
                                }
                            }
                        }
                        else
                        {
                            if (check1 == null)
                            {
                                <td id="@tid" class="droppable" height="50px" width="60px" colspan="4"></td>
                            }
                            else
                            {
                                <td id="@tid" class="droppable" height="50px" width="60px" colspan="4" style="display:none"></td>
                            }
                        }
                    }
                </tr>
            }
        </tbody>
    </table>
    <div>
        <input type="submit" value="Save_All" class="w3-btn w3-green w3-center registerbtn pull-right" />
    </div>
}