@model IEnumerable<TestExcel.Data.BRANCH>

@{
    ViewBag.Title = "Branch";
    Layout = "~/Views/Shared/_TimeScheduleLayout.cshtml";
}
<div class="w3-row w3-center fontup">
    @Html.ActionLink("แก้ไขข้อมูล", "Section", "Data", new { style = "color:blue;font-size:20px" })  |
</div>
<br>
<h2>Branch</h2>
<br>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="w3-table-all" id="DataTable" name="DataTable">
    <thead>
        <tr class="w3-blue">
            <th>ชื่อสาขาวิชา</th>
            <th>ชื่อภาควิชา</th>
            <th>แก้ไข</th>
            <th>ลบ</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.BRANCH_NAME
                </td>
                <td>
                    @item.DEPARTMENT_NAME
                </td>
                <td>
                    <a href="@Url.Action("Edit","Edit",new { id = item.BRANCH_ID })"><span class="btn btn-success fa fa-pencil"></span></a>
                </td>
                <td>
                    <a onclick="return confirm('Are you sure you want to delete record with id = @item.BRANCH_ID')" href="@Url.Action("Delete","Manage",new { id = item.BRANCH_ID })"><span class="btn btn-danger fa fa-trash-o"></span></a>
                </td>
            </tr>
        }
    </tbody>

</table>
<div class="modal fade" id="MyModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4 id="ModalTitle"></h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Import", "ImportExcel", FormMethod.Post))
                {
                    @Html.HiddenFor(Model => Model)
                }
                </div>
        </div>
    </div>
    </div>