@model IEnumerable<TestExcel.Data.COURSE>

@{
    ViewBag.Title = "Department";
    Layout = "~/Views/Shared/_TimeScheduleLayout.cshtml";
}
<div class="w3-row w3-center fontup">
    <a href="~/Data/Section" style="color:blue;font-size:20px">ตอนเรียน |</a>
    <a href="~/Data/Subject" style="color:blue;font-size:20px">วิชาเรียน |</a>
    <a href="~/Data/Branch" style="color:blue;font-size:20px">สาขาวิชา |</a>
    <a href="~/Data/Building" style="color:blue;font-size:20px">อาคาร/ห้องเรียน |</a>
    <a href="~/Data/Course" style="color:blue;font-size:20px">หลักสูตร |</a>
    <a href="~/Data/Department" style="color:blue;font-size:20px">ภาควิชา |</a>
    <a href="~/Data/Professor" style="color:blue;font-size:20px">อาจารย์ </a>
    @*<a href="~/Data/Member" style="color:blue;font-size:20px">User</a>*@
</div>
<br>
<div class="container">
    <a href="#" onclick="AddNew(0)" class="btn btn-info pull-right">Add New</a><br /><br />

    <table class="w3-table-all" id="DataTable" name="DataTable">
        <thead>
            <tr class="w3-blue">
                <th>สาขาวิชา</th>
                <th>สาขาวิชา_ภาษาไทย</th>
                <th>รหัสภาควิชา</th>
                <th>แก้ไข</th>
                <th>ลบ</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td id="TcdepartName_@item.COURSE_ID">
                    <p>@item.COURSE_NAME</p>
                </td>
                <td id="TdepartThaiName_@item.COURSE_ID">
                    <p>@item.COURSE_THAI_NAME</p>
                </td>
                <td id="TdepartName_@item.COURSE_ID">
                    <p>@item.DEPARTMENT_NAME_ID</p>
                </td>
                <td>
                    <a href="#" onclick="EditRecord(@item.COURSE_ID)"><span class="btn btn-success fa fa-pencil"></span></a>
                </td>
                <td>
                    <a href="#" onclick="DeleteRecord(@item.COURSE_ID)"><span class="btn btn-danger fa fa-trash-o"></span></a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
@using (Html.BeginForm("SaveCourse", "Data", FormMethod.Post))
{
    <div id="MyModal" class="w3-modal">
        <div class="w3-modal-content w3-animate-zoom w3-card-4" style="max-width:600px">
            <header class="w3-container w3-center w3-blue">
                <span class="w3-button w3-xlarge w3-hover-red w3-display-topright closes">&times;</span>
                <h3 id="ModalTitle"></h3>
            </header>
            <div class="container form-horizontal">
                <div class="w3-section">
                    @Html.Hidden("COURSE_ID", 0)
                    <label>สาขาวิชา</label>
                    @Html.TextBox("COURSE_NAME", "", new { @class = "w3-input w3-border w3-margin-bottom", @placeholder = "สาขาวิชา", @style = "max-width:570px" })
                    <label>สาขาวิชา(ภาษาไทย)</label>
                    @Html.TextBox("COURSE_THAI_NAME", "", new { @class = "w3-input w3-border w3-margin-bottom", @placeholder = "สาขาวิชา(ภาษาไทย)", @style = "max-width:570px" })
                    <label>ภาควิชา</label>
                    @Html.TextBox("DEPARTMENT_NAME_ID", "", new { @class = "w3-input w3-border w3-margin-bottom", @placeholder = "ภาควิชา", @style = "max-width:570px" })
                </div>

            </div>
            <footer class="w3-container w3-row w3-light-grey w3-center">
                <button type="button" class="closes w3-button w3-red w3-margin-bottom w3-margin-top" style="width:100px">Cancel</button>
                &nbsp;
                <button type="submit" href="#" class="w3-button w3-green w3-margin-bottom w3-margin-top" style="width:100px">Save</button>
            </footer>
        </div>
    </div>
}
<div class="modal fade" id="DeleteConfirmation">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4>Delete This Record</h4>
            </div>
            <div class="modal-body">
                <h4>Are You Sure? You Want To Delete This Record.</h4>
                <div class="modal-footer">
                    @using (Html.BeginForm("DeleteCourse", "Data", FormMethod.Post))
                    {
                        @Html.Hidden("Del_COURSE_ID", "")
                        <a href="#" class="btn btn-primary" data-dismiss="modal">Cancle</a>
                        <input type="submit" value="Delete" href="#" class="btn btn-danger">
                    }
                </div>

            </div>
        </div>
    </div>
</div>

<script>
    //Show The Popup Modal
    function AddNew(COURSE_ID) {
        $("#COURSE_ID").val(0);
        $("#DEPARTMENT_NAME_ID").val("");
        $("#COURSE_NAME").val("");
        $("#COURSE_THAI_NAME").val("");
        $("#ModalTitle").html("Add New Course");
        $("#MyModal").css('display', 'block');
    }
    function EditRecord(COURSE_ID) {
        $("#COURSE_ID").val(COURSE_ID);
        $("#DEPARTMENT_NAME_ID").val($("#TdepartName_" + COURSE_ID + " p").html().trim());
        $("#COURSE_NAME").val($("#TcdepartName_" + COURSE_ID + " p").html().trim());
        $("#COURSE_THAI_NAME").val($("#TdepartThaiName_" + COURSE_ID + " p").html().trim());
        $("#ModalTitle").html("Update Course Record");
        $("#MyModal").css('display', 'block');
    }
    function DeleteRecord(COURSE_ID) {
        $("#Del_COURSE_ID").val(COURSE_ID);
        $("#DeleteConfirmation").modal("show");
    }
    $(document).ready(function () {
        $('#DataTable').DataTable();
        $('.closes').click(function () {
            $("#MyModal").css('display', 'none');
        });
    });
</script>
