@model IEnumerable<TestExcel.Data.USER>

@{
    ViewBag.Title = "Member";
    Layout = "~/Views/Shared/_TimeScheduleLayout.cshtml";
}
<div class="w3-row w3-center fontup">
    <a href="~/Data/Section" style="color:blue;font-size:20px">ตอนเรียน |</a>
    <a href="~/Data/Subject" style="color:blue;font-size:20px">วิชาเรียน |</a>
    <a href="~/Data/Branch" style="color:blue;font-size:20px">สาขาวิชา |</a>
    <a href="~/Data/Building" style="color:blue;font-size:20px">อาคาร/ห้องเรียน |</a>
    <a href="~/Data/Course" style="color:blue;font-size:20px">หลักสูตร |</a>
    <a href="~/Data/Department" style="color:blue;font-size:20px">ภาควิชา |</a>
    <a href="~/Data/Professor" style="color:blue;font-size:20px">อาจารย์ |</a>
    <a href="~/Data/Member" style="color:blue;font-size:20px">ผู้ใช้งาน |</a>
</div>
<br>
<div class="container">
    <a href="#" onclick="AddNew(0)" class="btn btn-info pull-right">Add New</a><br /><br />

    <table class="w3-table-all" id="DataTable" name="DataTable">
        <thead>
            <tr class="w3-blue">
                <th>ชื่อผู้ใช้งาน</th>
                <th>รหัสผ่าน</th>
                <th>อิเมลล์</th>
                <th>ชื่อจริง</th>
                <th>นามสกุล</th>
                <th>สถานะ</th>
                <th>แก้ไข</th>
                <th>ลบ</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td id="Tusername_@item.ID">
                        <p>@item.USER_USERNAME</p>
                    </td>
                    <td id="Tpassword_@item.ID">
                        <p>@item.USER_PASSWORD</p>
                    </td>
                    <td id="Temail_@item.ID">
                        <p>@item.USER_EMAIL</p>
                    </td>
                    <td id="Tfirstname_@item.ID">
                        <p>@item.USER_FIRSTNAME</p>
                    </td>
                    <td id="Tlastname_@item.ID">
                        <p>@item.USER_LASTNAME</p>
                    </td>
                    <td id="Tstatus_@item.ID">
                        <p>@item.USER_STATUS</p>
                    </td>
                    <td>
                        <a href="#" onclick="EditRecord(@item.ID)"><span class="btn btn-success fa fa-pencil"></span></a>
                    </td>
                    <td>
                        <a href="#" onclick="DeleteRecord(@item.ID)"><span class="btn btn-danger fa fa-trash-o"></span></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@using (Html.BeginForm("SaveMember", "Data", FormMethod.Post))
{
    <div id="MyModal" class="w3-modal">
        <div class="w3-modal-content w3-animate-zoom w3-card-4" style="max-width:600px">
            <header class="w3-container w3-center w3-blue">
                <span class="w3-button w3-xlarge w3-hover-red w3-display-topright closes">&times;</span>
                <h3 id="ModalTitle"></h3>
            </header>
            <div class="container form-horizontal">
                <div class="w3-section">
                    @Html.Hidden("ID", 0)
                    <label>USERNAME</label>
                    @Html.TextBox("USER_USERNAME", "", new { @class = "w3-input w3-border w3-margin-bottom", @placeholder = "USERNAME", @style = "max-width:570px" })
                    <label>PASSWORD</label>
                    @Html.TextBox("USER_PASSWORD", "", new { @class = "w3-input w3-border w3-margin-bottom", @placeholder = "PASSWORD", @style = "max-width:570px" })
                    <label>EMAIL</label>
                    @Html.TextBox("USER_EMAIL", "", new { @class = "w3-input w3-border w3-margin-bottom", @placeholder = "EMAIL", @style = "max-width:570px" })
                    <label>ชื่อ</label>
                    @Html.TextBox("USER_FIRSTNAME", "", new { @class = "w3-input w3-border w3-margin-bottom", @placeholder = "ชื่อ", @style = "max-width:570px" })
                    <label>นามสกุล</label>
                    @Html.TextBox("USER_LASTNAME", "", new { @class = "w3-input w3-border w3-margin-bottom", @placeholder = "นามสกุล", @style = "max-width:570px" })
                    <label>สถานะ</label>
                    @Html.TextBox("USER_STATUS", "", new { @class = "w3-input w3-border w3-margin-bottom", @placeholder = "admin", @style = "max-width:570px" })
                </div>

            </div>
            <footer class="w3-container w3-row w3-light-grey w3-center">
                <button type="button" class="closes w3-button w3-red w3-margin-bottom w3-margin-top" style="width:100px">Cancel</button>
                &nbsp;
                <button type="submit" href="#" class="w3-button w3-green w3-margin-bottom w3-margin-top" style="width:100px">Save</button>
            </footer>
        </div>
    </div>
}
<div class="modal fade" id="DeleteConfirmation">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4>Delete This Record</h4>
            </div>
            <div class="modal-body">
                <h4>Are You Sure? You Want To Delete This Record.</h4>
                <div class="modal-footer">
                    @using (Html.BeginForm("DeleteMember", "Data", FormMethod.Post))
                    {
                        @Html.Hidden("Del_ID", "")
                    <a href="#" class="btn btn-primary" data-dismiss="modal">Cancel</a>
                        <input type="submit" value="Delete" href="#" class="btn btn-danger">
                    }
                </div>

            </div>
        </div>
    </div>
</div>

<script>
    //Show The Popup Modal
    function AddNew(ID) {
        $("#ID").val(0);
        $("#USER_USERNAME").val("");
        $("#USER_PASSWORD").val("");
        $("#USER_EMAIL").val("");
        $("#USER_FIRSTNAME").val("");
        $("#USER_LASTNAME").val("");
        $("#USER_STATUS").val("");
        $("#ModalTitle").html("Add New User/Member");
        $("#MyModal").css('display', 'block');
    }
    function EditRecord(ID) {
        $("#ID").val(ID);
        $("#USER_USERNAME").val($("#Tusername_" + ID + " p").html().trim());
        $("#USER_PASSWORD").val($("#Tpassword_" + ID + " p").html().trim());
        $("#USER_EMAIL").val($("#Temail_" + ID + " p").html().trim());
        $("#USER_FIRSTNAME").val($("#Tfirstname_" + ID + " p").html().trim());
        $("#USER_LASTNAME").val($("#Tlastname_" + ID + " p").html().trim());
        $("#USER_STATUS").val($("#Tstatus_" + ID + " p").html().trim());
        $("#ModalTitle").html("Update User/Member Record");
        $("#MyModal").css('display', 'block');
    }
    function DeleteRecord(ID) {
        $("#Del_ID").val(ID);
        $("#DeleteConfirmation").modal("show");
    }
    $(document).ready(function () {
        $('#DataTable').DataTable();
        $('.closes').click(function () {
            $("#MyModal").css('display', 'none');
        });
    });
</script>