@model IEnumerable<TestExcel.Data.PROFESSOR>

@{
    ViewBag.Title = "อาจารย์ผู้สอน";
    Layout = "~/Views/Shared/_TimeScheduleLayout.cshtml";
}
<div class="w3-row w3-center fontup">
    <a href="~/Data/Section" style="color:blue;font-size:20px">ตอนเรียน |</a>
    <a href="~/Data/Subject" style="color:blue;font-size:20px">วิชาเรียน |</a>
    <a href="~/Data/Branch" style="color:blue;font-size:20px">ห้องเรียน |</a>
    <a href="~/Data/Building" style="color:blue;font-size:20px">อาคารเรียน |</a>
    <a href="~/Data/Course" style="color:blue;font-size:20px">สาขาวิชา |</a>
    <a href="~/Data/Department" style="color:blue;font-size:20px">ภาควิชา |</a>
    <a href="~/Data/Professor" style="color:blue;font-size:20px">อาจารย์ผู้สอน |</a>
    @if (Session["status"].ToString() == "admin")
    {
        <a href="~/Data/Member" style="color:blue;font-size:20px">ผู้ใช้งาน |</a>
    }
</div>
<br>
<div class="container">
    <a href="#" onclick="AddNew(0)" class="btn btn-info pull-right">Add New</a><br /><br />

    <table class="w3-table-all" id="DataTable" name="DataTable">
        <thead>
            <tr class="w3-blue">
                <th>ชื่อ</th>
                <th>อักษรย่ออาจารย์</th>
                <th>สถานะอาจารย์</th>
                <th>ภาควิชา</th>
                <th>แก้ไข</th>
                <th>ลบ</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td id="TprofessorFirstName_@item.PROFESSOR_ID">
                        <p>@item.PROFESSOR_NAME</p>
                    </td>
                    <td id="TprofessorShortName_@item.PROFESSOR_ID">
                        <p>@item.PROFESSOR_SHORTNAME</p>
                    </td>
                    <td id="TprofessorStatus_@item.PROFESSOR_ID">
                        <p>@item.PROFESSOR_STATUS</p>
                    </td>
                    <td id="TdepartName_@item.PROFESSOR_ID">
                        <p>@item.DEPARTMENT_NAME</p>
                    </td>
                    <td>
                        <a href="#" onclick="EditRecord(@item.PROFESSOR_ID)"><span class="btn btn-success fa fa-pencil"></span></a>
                    </td>
                    <td>
                        <a href="#" onclick="DeleteRecord(@item.PROFESSOR_ID)"><span class="btn btn-danger fa fa-trash-o"></span></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@using (Html.BeginForm("SaveProfessor", "Data", FormMethod.Post))
{
    <div id="MyModal" class="w3-modal">
        <div class="w3-modal-content w3-animate-zoom w3-card-4" style="max-width:600px">
            <header class="w3-container w3-center w3-blue">
                <span class="w3-button w3-xlarge w3-hover-red w3-display-topright closes">&times;</span>
                <h3 id="ModalTitle"></h3>
            </header>
            <div class="container form-horizontal">
                <div class="w3-section">
                    @Html.Hidden("PROFESSOR_ID", 0)
                    <label>ชื่อ</label>
                    @Html.TextBox("PROFESSOR_NAME", "", new { @class = "w3-input w3-border w3-margin-bottom", @placeholder = "ชื่อ", @style = "max-width:570px" })
                    <label>อักษรย่อ</label>
                    @Html.TextBox("PROFESSOR_SHORTNAME", "", new { @class = "w3-input w3-border w3-margin-bottom", @placeholder = "", @style = "max-width:570px" })
                    <label>สถานะ</label>
                    @Html.TextBox("PROFESSOR_STATUS", "", new { @class = "w3-input w3-border w3-margin-bottom", @placeholder = "", @style = "max-width:570px" })
                    <label>ภาควิชา</label>
                    @Html.TextBox("DEPARTMENT_NAME", "", new { @class = "w3-input w3-border w3-margin-bottom", @placeholder = "EnET", @style = "max-width:570px" })
                </div>

            </div>
            <footer class="w3-container w3-row w3-light-grey w3-center">
                <button type="button" class="closes w3-button w3-red w3-margin-bottom w3-margin-top" style="width:100px">Cancel</button>
                &nbsp;
                <button type="submit" href="#" class="w3-button w3-green w3-margin-bottom w3-margin-top" style="width:100px">Save</button>
            </footer>
        </div>
    </div>
}
<div class="modal fade" id="DeleteConfirmation">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4>Delete This Record</h4>
            </div>
            <div class="modal-body">
                <h4>Are You Sure? You Want To Delete This Record.</h4>
                <div class="modal-footer">
                    @using (Html.BeginForm("DeleteProfessor", "Data", FormMethod.Post))
                    {
                        @Html.Hidden("Del_PROFESSOR_ID", "")
                    <a href="#" class="btn btn-primary" data-dismiss="modal">Cancel</a>
                        <input type="submit" value="Delete" href="#" class="btn btn-danger">
                    }
                </div>

            </div>
        </div>
    </div>
</div>

<script>
    //Show The Popup Modal
    function AddNew(PROFESSOR_ID) {
        $("#PROFESSOR_ID").val(0);
        $("#PROFESSOR_FIRSTNAME").val("");
        $("#PROFESSOR_LASTNAME").val("");
        $("#PROFESSOR_SHORTNAME").val("");
        $("#PROFESSOR_STATUS").val("");
        $("#DEPARTMENT_NAME").val("");
        $("#ModalTitle").html("Add New Professor");
        $("#MyModal").css('display', 'block');
    }
    function EditRecord(PROFESSOR_ID) {
        $("#PROFESSOR_ID").val(PROFESSOR_ID);
        $("#PROFESSOR_NAME").val($("#TprofessorFirstName_" + PROFESSOR_ID + " p").html().trim());
        $("#PROFESSOR_SHORTNAME").val($("#TprofessorShortName_" + PROFESSOR_ID + " p").html().trim());
        $("#PROFESSOR_STATUS").val($("#TprofessorStatus_" + PROFESSOR_ID + " p").html().trim());
        $("#DEPARTMENT_NAME").val($("#TdepartName_" + PROFESSOR_ID + " p").html().trim());
        $("#ModalTitle").html("Update Professor Record");
        $("#MyModal").css('display', 'block');
    }
    function DeleteRecord(PROFESSOR_ID) {
        $("#Del_PROFESSOR_ID").val(PROFESSOR_ID);
        $("#DeleteConfirmation").modal("show");
    }
    $(document).ready(function () {
        $('#DataTable').DataTable();
        $('.closes').click(function () {
            $("#MyModal").css('display', 'none');
        });
    });
</script>