@model IEnumerable<TestExcel.Data.SUBJECT>

@{
    ViewBag.Title = "Subject";
    Layout = "~/Views/Shared/_TimeScheduleLayout.cshtml";
}
<div class="w3-row w3-center fontup">
    <a href="~/Data/Section" style="color:blue;font-size:20px">ตอนเรียน |</a>
    <a href="~/Data/Subject" style="color:blue;font-size:20px">วิชาเรียน |</a>
    <a href="~/Data/Branch" style="color:blue;font-size:20px">สาขาวิชา |</a>
    <a href="~/Data/Building" style="color:blue;font-size:20px">อาคาร/ห้องเรียน |</a>
    <a href="~/Data/Department" style="color:blue;font-size:20px">ภาควิชา |</a>
    <a href="~/Data/Professor" style="color:blue;font-size:20px">อาจารย์ |</a>
    <a href="~/Data/Member" style="color:blue;font-size:20px">User</a>
</div>
<br>
<div class="container">
    <a href="#" onclick="AddNew(0)" class="btn btn-info pull-right">Add New</a><br /><br />
    <table border="0" cellspacing="5" cellpadding="5">
        <tbody>
            <tr>
                <td align="right"><b>ปีการศึกษา&nbsp;</b></td>
                <td colspan="5" style="padding-right:1em">@Html.DropDownList("ddl_Year", (SelectList)ViewBag.ddl_SemesterYear, new { @class = "form-control", style = "" })</td>
                <td align="right"><b>ภาคการศึกษา&nbsp;</b></td>
                <td colspan="5" style="padding-right:1em">
                    <select class="form-control" id="ddl_Semester" name="ddl_Semester">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <table class="w3-table-all" id="DataTable" name="DataTable">
        <thead>
            <tr class="w3-blue">
                <th>รหัสวิชา</th>
                <th>ชื่อวิชา</th>
                <th>หน่วยกิต</th>
                <th>วันที่สอบกลางภาค</th>
                <th>เวลาสอบกลางภาค</th>
                <th>วันที่สอบปลายภาค</th>
                <th>เวลาสอบปลายภาค</th>
                <th>ภาคการศึกษา</th>
                <th>ปีการศึกษา</th>
                <th>แก้ไข</th>
                <th>ลบ</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td id="TsubjectId_@item.ID">
                        <p>@item.SUBJECT_ID</p>
                    </td>
                    <td id="TsubjectName_@item.ID">
                        <p>@item.SUBJECT_NAME</p>
                    </td>
                    <td id="TsubjectCredit_@item.ID">
                        <p>@item.SUBJECT_CREDIT</p>
                    </td>
                    <td id="TsubjectMidDate_@item.ID">
                        <p>@item.SUBJECT_MIDTERM_DATE</p>
                    </td>
                    <td id="TsubjectMidTime_@item.ID">
                        <p>@item.SUBJECT_MIDTERM_TIME</p>
                    </td>
                    <td id="TsubjectFinalDate_@item.ID">
                        <p>@item.SUBJECT_FINAL_DATE</p>
                    </td>
                    <td id="TsubjectFinalTime_@item.ID">
                        <p>@item.SUBJECT_FINAL_TIME</p>
                    </td>
                    <td id="Tsemester_@item.ID">
                        <p>@item.SEMESTER</p>
                    </td>
                    <td id="Tyear_@item.ID">
                        <p>@item.YEAR</p>
                    </td>
                    <td>
                        <a href="#" onclick="EditRecord(@item.ID)"><span class="btn btn-success fa fa-pencil"></span></a>
                    </td>
                    <td>
                        <a href="#" onclick="DeleteRecord(@item.ID)"><span class="btn btn-danger fa fa-trash-o"></span></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@using (Html.BeginForm("SaveSubject", "Data", FormMethod.Post))
{
    <div id="MyModal" class="w3-modal">
        <div class="w3-modal-content w3-animate-zoom w3-card-4" style="max-width:600px">
            <header class="w3-container w3-center w3-blue">
                <span class="w3-button w3-xlarge w3-hover-red w3-display-topright closes">&times;</span>
                <h3 id="ModalTitle"></h3>
            </header>
            <div class="container">
                <div class="w3-section">
                    @Html.Hidden("ID", 0)
                    <label>รหัสวิชา</label>
                    @Html.TextBox("SUBJECT_ID", "", new { @class = "w3-input w3-border w3-margin-bottom", @placeholder = "080303100", @style = "max-width:570px" })
                    <label>ชื่อวิชา</label>
                    @Html.TextBox("SUBJECT_NAME", "", new { @class = "w3-input w3-border w3-margin-bottom", @placeholder = "ชื่อวิชา", @style = "max-width:570px" })
                    <label>หน่วยกิต</label>
                    @Html.TextBox("SUBJECT_CREDIT", "", new { @class = "w3-input w3-border w3-margin-bottom", @placeholder = "X(X-X-X)", @style = "max-width:570px" })
                    <div class="w3-row">
                        <div class="w3-half" style="max-width:230px">
                            <label>วันสอบกลางภาค</label>
                            @Html.TextBox("SUBJECT_MIDTERM_DATE", "", new { @class = "w3-input w3-border w3-margin-bottom", @placeholder = "6 Oct 17" })
                        </div>
                        <div class="w3-half" style="max-width:230px;margin-left:50px">
                            <label>เวลาสอบกลางภาค</label>
                            @Html.TextBox("SUBJECT_MIDTERM_TIME", "", new { @class = "w3-input w3-border w3-margin-bottom", @placeholder = "8.00-12.00" })
                        </div>
                    </div>
                    <div class="w3-row">
                        <div class="w3-half" style="max-width:230px">
                            <label>วันสอบปลายภาค</label>
                            @Html.TextBox("SUBJECT_FINAL_DATE", "", new { @class = "w3-input w3-border w3-margin-bottom", @placeholder = "6 Dec 17" })
                        </div>
                        <div class="w3-half" style="max-width:230px;margin-left:50px">
                            <label>เวลาสอบปลายภาค</label>
                            @Html.TextBox("SUBJECT_FINAL_TIME", "", new { @class = "w3-input w3-border w3-margin-bottom", @placeholder = "8.00-12.00" })
                        </div>
                    </div>
                    <div class="w3-row">
                        <div class="w3-half" style="max-width:230px">
                            <label>ภาคการศึกษา</label>
                            @Html.TextBox("SEMESTER", "", new { @class = "w3-input w3-border w3-margin-bottom", @placeholder = "1" })
                        </div>
                        <div class="w3-half" style="max-width:230px;margin-left:50px">
                            <label>ปีการศึกษา</label>
                            @Html.TextBox("YEAR", "", new { @class = "w3-input w3-border w3-margin-bottom", @placeholder = "2560" })
                        </div>
                    </div>
                </div>

            </div>
            <footer class="w3-container w3-row w3-light-grey w3-center">
                <button type="button" class="closes w3-button w3-red w3-margin-bottom w3-margin-top" style="width:100px">Cancel</button>
                &nbsp;
                <button type="submit" href="#" class="w3-button w3-green w3-margin-bottom w3-margin-top" style="width:100px">Save</button>
            </footer>
        </div>
    </div>
}
<div class="modal fade" id="DeleteConfirmation">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4>Delete This Record</h4>
            </div>
            <div class="modal-body">
                <h4>Are You Sure? You Want To Delete This Record.</h4>
                <div class="modal-footer">
                    @using (Html.BeginForm("DeleteSubject", "Data", FormMethod.Post))
                    {
                        @Html.Hidden("Del_ID", "")
                        <a href="#" class="btn btn-primary" data-dismiss="modal">Cancle</a>
                        <input type="submit" value="Delete" href="#" class="btn btn-danger">
                    }
                </div>

            </div>
        </div>
    </div>
</div>

<script>
    //Show The Popup Modal
    function AddNew(ID) {
        $("#ID").val(0);
        $("#SUBJECT_ID").val("");
        $("#SUBJECT_NAME").val("");
        $("#SUBJECT_CREDIT").val("");
        $("#SUBJECT_MIDTERM_DATE").val("");
        $("#SUBJECT_MIDTERM_TIME").val("");
        $("#SUBJECT_FINAL_DATE").val("");
        $("#SUBJECT_FINAL_TIME").val("");
        $("#SEMESTER").val("");
        $("#YEAR").val("");
        $("#ModalTitle").html("Add New Subject");
        $("#MyModal").css('display', 'block');
    }
    function EditRecord(ID) {
        $("#ID").val(ID);
        $("#SUBJECT_ID").val($("#TsubjectId_" + ID + " p").html().trim());
        $("#SUBJECT_NAME").val($("#TsubjectName_" + ID + " p").html().trim());
        $("#SUBJECT_CREDIT").val($("#TsubjectCredit_" + ID + " p").html().trim());
        $("#SUBJECT_MIDTERM_DATE").val($("#TsubjectMidDate_" + ID + " p").html().trim());
        $("#SUBJECT_MIDTERM_TIME").val($("#TsubjectMidTime_" + ID + " p").html().trim());
        $("#SUBJECT_FINAL_DATE").val($("#TsubjectFinalDate_" + ID + " p").html().trim());
        $("#SUBJECT_FINAL_TIME").val($("#TsubjectFinalTime_" + ID + " p").html().trim());
        $("#SEMESTER").val($("#Tsemester_" + ID + " p").html().trim());
        $("#YEAR").val($("#Tyear_" + ID + " p").html().trim());
        $("#ModalTitle").html("Update Subject Record");
        $("#MyModal").css('display', 'block');
    }
    function DeleteRecord(ID) {
        $("#Del_ID").val(ID);
        $("#DeleteConfirmation").modal("show");
    }
    $(document).ready(function () {
        var table = $('#DataTable').DataTable();
        $('#ddl_Year, #ddl_Semester').change(function () {
            table.draw();
        }).change();
        $.fn.dataTable.ext.search.push(
            function (settings, data, dataIndex) {
                var Year = parseInt($('#ddl_Year').val());
                var Semester = parseInt($('#ddl_Semester').val());
                var data_semester = parseInt(data[7]);
                var data_year = parseInt(data[8]);

                if (Year == data_year && Semester == data_semester) {
                    return true;
                }
                return false;
            }
        );
        $('.closes').click(function () {
            $("#MyModal").css('display', 'none');
        });
    });
</script>