<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/EditStyle.css" rel="stylesheet" />

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Home", "DSchedule", "TimeSchedule", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("ตารางเรียน", "DSchedule", "TimeSchedule")</li>
                <li><a href="@Url.Action("data","Report")">Import/Export Pdf/Excel</a></li>
                @*
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
            </ul>
            @if (Session["Username"] != null)
            {
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle noti" data-toggle="dropdown" href="#">
                            <span class="fa fa-bell" aria-hidden="true"><span class="" id="count"></span></span>
                        </a>
                        <ul class="dropdown-menu" id="notiContent">
                        </ul>
                    </li>
                    <li><a href="#" uk-icon="icon: sign-out"><i class="fa fa-user" aria-hidden="true"></i> @Session["Username"].ToString()</a></li>
                    <li><a href="@Url.Action("Logout","Login")" uk-icon="icon: sign-out"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
                </ul>
            }
            else
            {
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="@Url.Action("Index","Login")" uk-icon="icon: sign-out"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a></li>
                </ul>
            }

        </div>
    </div>
</nav>
<style>
    ul#notiContent{
        max-height:240px;
        overflow:auto;
        padding:0px;
        margin:0px;
    }
        ul#notiContent li {
            border-bottom: 2px solid black;
            background-color: #cccccc;
            color: white;
            font-size: 16px;
        }
    #notiContent {
        min-width: 400px;
    }
    .badge {
        position:absolute;
        background-color: red;
        color: white;
        bottom:25px;
        right:1px;
    }
        .badge1[data-badge]:after {
            content: attr(data-badge);
            position: absolute;
            top: -10px;
            right: -10px;
            font-size: .7em;
            background-color: red;
            color: white;
            width: 18px;
            height: 18px;
            text-align: center;
            line-height: 18px;
            border-radius: 50%;
            box-shadow: 0 0 1px #333;
        }
</style>
<script>
    $(document).ready(function () {
        var date = ["M", "T", "W", "H", "F", "S"];
        var datethai = ["วันจันทร์", "วันอังคาร", "วันพุธ", "วันพฤหัสบดี", "วันศุกร์", "วันเสาร์"];
        $.ajax({
            type: 'GET',
            url: '/data/GetNotifications',
            success: function (response) {
                $("#notiContent").empty();
                if (response.length == 0) {
                    $("#notiContent").append($('<li>No data available</li>'));
                }
                else {
                    var count = 0;
                    count = response.length;
                    $("#count").html(count);
                    $("#count").addClass("badge");
                }

                $.each(response, function (index, value) {
                    var tmp_datefirst = date.indexOf(value.SECTION_DATE_First);
                    var tmp_datelast = date.indexOf(value.SECTION_DATE_Last);

                    $("#notiContent").append($('<li><a href="/TimeSchedule/TeSchedule/' + value.SECTION_ID_First + '/' + value.SECTION_CLASSROOM_First + '?SUBJECTid='
                        + value.SUBJECT_ID_First + "_" + value.SUBJECT_ID_Last + '&BR_SEMESTER=' + value.SEMESTER + '&BR_YEAR='
                        + value.YEAR + '&color=#ff0000">'
                        + value.SUBJECT_ID_First + " " + datethai[parseInt(tmp_datefirst)] + " ตอน "
                        + value.SECTION_NUMBER_First + " ห้อง " + value.SECTION_CLASSROOM_First + " " + value.SEMESTER + "/" + value.YEAR + "<br>"
                        + value.SUBJECT_ID_Last + " "
                        + datethai[parseInt(tmp_datelast)]
                        + " ตอน " + value.SECTION_NUMBER_Last + " ห้อง " + value.SECTION_CLASSROOM_Last + " " + value.SEMESTER + "/" + value.YEAR +  '</a></li>'));
                });
            },
            error: function (error) {
                console.log(error);
            }
        });
        $(".noti").click(function () {
            $("#notiContent").toggle();
        });
    });
</script>